<%- include("./partials/header") %>

    <div class="container">
        <main class="row gx-sm-3 gx-md-5">
        </main>
    </div>

    <script type="text/javascript">
        const db = <%- JSON.stringify(DB) %>
    </script>
<%- include("./partials/footer") %>